---
---
body {
  background: #111;
  color: #eee;
}
.masthead {
  background: #333;
  color: #eee;
  padding: 1rem 3rem;
}
.container {
  margin: 1rem 3rem;
}

/* gallery */

.gallery {
  display: block !important;
  overflow: auto;
  border: none !important;
  background-color: transparent !important;
}
.gallery-image {
  float: left;
  width: 18.65rem;
  height: 12rem;
  margin: 1rem;
  background-color: rgb(66, 200, 66);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1rem solid rgb(66, 200, 66);
  border-radius: 1rem;
}
.lightbox-image {
  width: 64rem;
  height: 43rem;
  background-color: #eee;
  border: 1rem solid #eee;
  border-radius: unset;
}

.gallery-image:not(.lightbox-image):hover {
  border-color: rgb(33, 100, 33);
  background-color: rgb(33, 100, 33);
}
