<!DOCTYPE HTML>
<html>
<head>
  <title>Penguicon Photos: {{ page.title }}</title>
  <meta name="description" content="Photos from Penguicon, a convention of science fiction and open source software. {{ page.title }}." />	
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="Penguicon Photos: {{ page.title }}" />
  <meta property="og:description" content="Photos from Penguicon, a convention of science fiction and open source software." />
  <meta property="og:image" content="{{ site.url }}/assets/images/penguicon-logo.png" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
</head>
<body class="pages">
<div class="main">
<div class="masthead">
  <h1>{{ site.title }}</h1>
  <h2>{{ page.title }}</h2>
</div>
<div class="container">
{{ content }}
</div>
</div>
</body>
</html>
