<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body class="gallery-page">
  <p><a href="/">Other Penguicon Photo Galleries</a></p>
  <h1>{{ page.title | replace: "_", " " }}</h1>
  {{ content }}
  {% include photos.html %}
<script>
  $(document).ready(function () {
    var gallery_images = document.getElementsByClassName("gallery-image");

    var makeLarge = function(e) {
      $(".gallery-image").removeClass("lightbox-image");
      $(e.target).addClass("lightbox-image");
      $("a").removeClass("lightbox-link");
      $(e.target).children("a").addClass("lightbox-link");
    };

    for (var i = 0; i < gallery_images.length; i++) {
      gallery_images[i].addEventListener('click', makeLarge, false);
    }
  });
</script>
</body>
</html>
